<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AntiiMessageSpam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EmailSpam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA6E28DE1A2C6BE800E7CFC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA6E28F71A2C6BE800E7CFC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA6E290B1A2C6C8500E7CFC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
